.two{
    display: none;
    margin-top: 4%;
    color: #fff;
}
.two h1{
    color: #fff;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 40px;
}
.two ul{
    list-style: none;
    font-size: 18px;
    margin-bottom: 30px;
}
.two h3{
    margin-bottom: 30px;
}
.two p{
    margin-bottom: 20px;
}
.header_test{
    color: #fff;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}
.test_img{
    float: left;
    margin-right: 20px;
    font-size: 16px;
    width: 33.33333%;
}
.test_img:last-child{
    margin-right: 0px
}
.test_img li{
    margin-top: 185px;
    position: relative;
    line-height: 2.1;
}
.test_img li img{
    position: absolute;
    top: -160px;
}
.step{
    display: none;
}
.label_it{
    background: url(../img/check.png)no-repeat left;
    /*background-position-y: -28px;*/
    background-position-y: 0px;
    height: 28px;
    padding-left: 30px;
    line-height: 1.9;
    margin-bottom: 13px;
    cursor: pointer;
}
.test_body{
    color: #fff;
}
.test_body h6{
    color: #a3d14f;
}
.test_body h1{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 40px;
}
.test ul{
    font-size: 18px;
    list-style: none;
    margin-bottom: 40px;
    margin-left: -35px;
}
.form__text_2{
    font-size: 14px;
    line-height: .9;
    margin: 20px 0;
    padding: 0 15px;
    color: #000;
}
.layer_text{
    color: #fff;
    text-align: center;
    padding: 0 10px 25px 10px;
    font-size: 16px;
}
.layer_text h3{
    color: #a3d14f;
    padding-bottom: 25px;
}
.layer_disc{
    margin-bottom: 20px
}
.layer1{
    border-right: 2px solid #a3d14f;
    border-top: 2px solid #a3d14f;
    margin-left: 30px;
    border-radius: 3px;
    display: none;
}
.layer2{
    border-left: 2px solid #a3d14f;
    border-bottom: 2px solid #a3d14f;
    margin-left: -32px;
    margin-top: 30px;
    border-radius: 3px;
}
.layer_proc{
    color: #fff;
    position: absolute;
    top: -16px;
    font-size: 36px;
    font-weight: bold;
    left: 5px;
}
.back{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
    display: none;
}
button {
    font-size: 16px;
    font-weight: 700;
    width: 158px;
    height: 45px;
    color: #fff;
    border-radius: 22px;
    background-image: -webkit-linear-gradient(84deg, #76b742 0%, #acd94f 100%);
    background-image: linear-gradient(6deg, #76b742 0%, #acd94f 100%);
    text-shadow: .5px .9px 1px rgba(0, 0, 1, .2);
    border:none;
}
button:hover {
    background-image: -webkit-linear-gradient(84deg, #acd94f 0%, #76b742 100%);
    background-image: linear-gradient(6deg, #acd94f 0%, #76b742 100%);
}
#but_start{
    margin: 30px;
}
#but_start:after{
    content: url(../img/arow.png);
    position: absolute;
    top: 146px;
    left: 118px;
}
.main__promises ul{
    list-style: none;
    font-size: 18px;
}
.book_style{

}
.site_bottom{
    margin-top: 70px;
    background: url('../img/photo-report.jpg') no-repeat top;
    min-height: 589px;
    padding-top: 25px;
}
.site_bottom h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.links a{
    display: block;
    background: url(../img/ico/icon-pdf.png) no-repeat;
    text-decoration: underline;
    padding-left: 50px;
    min-height: 43px;
    margin-bottom: 7px;
    vertical-align: middle;
    padding-top: 2%
}
.form2{
    position: relative;
    padding-bottom: 40px;
    text-align: center;
    border-radius: 4px;
    background: #fff;
}
.form.dop_style_form:before{
    position: absolute;
    z-index: 1;
    bottom: -452px;
    left: -520px;
    /*content: url(../img/form--arrow.png);*/
}
.book_style h1{
   font-size: 2.5em;
    color: #75b842; 
    line-height: 0.8;
    margin-bottom: 30px;
}
.book_style h1 span{
    color: #000;
    font-size: 0.7em;
}

.book_style ul{
    text-align: left;
    margin-bottom: 30px;
    font-size: 16px;
    list-style-type: none;
    margin-left: 5px;
}
.book_style ul li{
    margin-bottom: 10px;
    padding-left: 24px;
    background: url(../img/galka.png) no-repeat left top 6px;
}
}
.modal__body.dop_style{
    padding-top: 15px
}

.bue{
    display:none;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 7px;
    top:0;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.header__logo,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.header__logo,
.main .promises__item,
.col-md-4,
.col-lg-4,
.main__form,
.col-xs-5,
.col-sm-5,
.col-md-5,
.main__form,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.header__logo,
.header__contact,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.main__text,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.header__contact,
.main__form,
.col-md-8,
.col-lg-8,
.main__text,
.col-xs-9,
.header__contact,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;

    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.header__logo,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.header__contact,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9,
.header__contact {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3,
.header__logo {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0;
}

@media (min-width: 768px) {
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .header__logo,
    .main .promises__item,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .header__contact,
    .main__form,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8,
    .header__contact,
    .main__form {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4,
    .header__logo,
    .main .promises__item {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-pull-12 {
        right: 100%;
    }
    .col-sm-pull-11 {
        right: 91.66666667%;
    }
    .col-sm-pull-10 {
        right: 83.33333333%;
    }
    .col-sm-pull-9 {
        right: 75%;
    }
    .col-sm-pull-8 {
        right: 66.66666667%;
    }
    .col-sm-pull-7 {
        right: 58.33333333%;
    }
    .col-sm-pull-6 {
        right: 50%;
    }
    .col-sm-pull-5 {
        right: 41.66666667%;
    }
    .col-sm-pull-4 {
        right: 33.33333333%;
    }
    .col-sm-pull-3 {
        right: 25%;
    }
    .col-sm-pull-2 {
        right: 16.66666667%;
    }
    .col-sm-pull-1 {
        right: 8.33333333%;
    }
    .col-sm-pull-0 {
        right: auto;
    }
    .col-sm-push-12 {
        left: 100%;
    }
    .col-sm-push-11 {
        left: 91.66666667%;
    }
    .col-sm-push-10 {
        left: 83.33333333%;
    }
    .col-sm-push-9 {
        left: 75%;
    }
    .col-sm-push-8 {
        left: 66.66666667%;
    }
    .col-sm-push-7 {
        left: 58.33333333%;
    }
    .col-sm-push-6 {
        left: 50%;
    }
    .col-sm-push-5 {
        left: 41.66666667%;
    }
    .col-sm-push-4 {
        left: 33.33333333%;
    }
    .col-sm-push-3 {
        left: 25%;
    }
    .col-sm-push-2 {
        left: 16.66666667%;
    }
    .col-sm-push-1 {
        left: 8.33333333%;
    }
    .col-sm-push-0 {
        left: auto;
    }
    .col-sm-offset-12 {
        margin-left: 100%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-2,
    .main__form {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 992px) {
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .main__form,
    .col-md-6,
    .header__logo,
    .header__contact,
    .col-md-7,
    .main__text,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7,
    .main__text {
        width: 58.33333333%;
    }
    .col-md-6,
    .header__logo,
    .header__contact {
        width: 50%;
    }
    .col-md-5,
    .main__form {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66666667%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }
    .col-md-pull-7 {
        right: 58.33333333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66666667%;
    }
    .col-md-pull-4 {
        right: 33.33333333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66666667%;
    }
    .col-md-pull-1 {
        right: 8.33333333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66666667%;
    }
    .col-md-push-10 {
        left: 83.33333333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66666667%;
    }
    .col-md-push-7 {
        left: 58.33333333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66666667%;
    }
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-push-1 {
        left: 8.33333333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0,
    .main__form {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .main__form,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .main__text,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8,
    .main__text {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4,
    .main__form {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-pull-12 {
        right: 100%;
    }
    .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-push-12 {
        left: 100%;
    }
    .col-lg-push-11 {
        left: 91.66666667%;
    }
    .col-lg-push-10 {
        left: 83.33333333%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-8 {
        left: 66.66666667%;
    }
    .col-lg-push-7 {
        left: 58.33333333%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-5 {
        left: 41.66666667%;
    }
    .col-lg-push-4 {
        left: 33.33333333%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-2 {
        left: 16.66666667%;
    }
    .col-lg-push-1 {
        left: 8.33333333%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left: 0;
    }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    display: table;

    content: ' ';
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}

.center-block {
    display: block;

    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;

    color: transparent;
    border: 0;
    background-color: transparent;
    text-shadow: none;
}

.hidden {
    display: none !important;
}

.affix {
    position: fixed;
}

@-ms-viewport {
    width: device-width;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none !important;
}

@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }
    table.visible-xs {
        display: table !important;
    }
    tr.visible-xs {
        display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }
}

@media (max-width: 767px) {
    .visible-xs-block {
        display: block !important;
    }
}

@media (max-width: 767px) {
    .visible-xs-inline {
        display: inline !important;
    }
}

@media (max-width: 767px) {
    .visible-xs-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important;
    }
    table.visible-sm {
        display: table !important;
    }
    tr.visible-sm {
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-block {
        display: block !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline {
        display: inline !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important;
    }
    table.visible-md {
        display: table !important;
    }
    tr.visible-md {
        display: table-row !important;
    }
    th.visible-md,
    td.visible-md {
        display: table-cell !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-block {
        display: block !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline {
        display: inline !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-inline-block {
        display: inline-block !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }
    table.visible-lg {
        display: table !important;
    }
    tr.visible-lg {
        display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg-block {
        display: block !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline {
        display: inline !important;
    }
}

@media (min-width: 1200px) {
    .visible-lg-inline-block {
        display: inline-block !important;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

.visible-print {
    display: none !important;
}

@media print {
    .visible-print {
        display: block !important;
    }
    table.visible-print {
        display: table !important;
    }
    tr.visible-print {
        display: table-row !important;
    }
    th.visible-print,
    td.visible-print {
        display: table-cell !important;
    }
}

.visible-print-block {
    display: none !important;
}

@media print {
    .visible-print-block {
        display: block !important;
    }
}

.visible-print-inline {
    display: none !important;
}

@media print {
    .visible-print-inline {
        display: inline !important;
    }
}

.visible-print-inline-block {
    display: none !important;
}

@media print {
    .visible-print-inline-block {
        display: inline-block !important;
    }
}

@media print {
    .hidden-print {
        display: none !important;
    }
}

.container {
    width: 1230px;
    margin: auto;
    padding: 0 15px;
}

@media (max-width: 1199px) {
    .container {
        width: 970px;
    }
}

@media (max-width: 991px) {
    .container {
        width: 750px;
    }
}

@media (max-width: 767px) {
    .container {
        width: auto;
    }
}

::-webkit-input-placeholder {
    color: #202020;
}

::-moz-placeholder {
    opacity: 1;
    color: #202020;
}

:-moz-placeholder {
    opacity: 1;
    color: #202020;
}

:-ms-input-placeholder {
    color: #202020;
}

@font-face {
    font-family: 'ClearSans';
    font-weight: normal;
    font-style: normal; 

    src: url('../fonts/clearsans-regular-webfont.eot');
    src: url('../fonts/clearsans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/clearsans-regular-webfont.woff2') format('woff2'), url('../fonts/clearsans-regular-webfont.woff') format('woff'), url('../fonts/clearsans-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'ClearSans';
    font-weight: bold;
    font-style: normal; 

    src: url('../fonts/clearsans-bold-webfont.eot');
    src: url('../fonts/clearsans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/clearsans-bold-webfont.woff2') format('woff2'), url('../fonts/clearsans-bold-webfont.woff') format('woff'), url('../fonts/clearsans-bold-webfont.ttf') format('truetype');
}

html,
body {
    font-family: 'ClearSans', sans-serif;

    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.mfp-close-btn-in .mfp-close {
    font-size: 0;

    top: -30px;
    right: -30px; 

    width: 27px;
    height: 27px;

    opacity: 1;
    background: url('../img/ico/close.png');
}
@media (max-width: 991px) {
    .mfp-close-btn-in .mfp-close {
        top: -35px;
        right: 0;
    }
}
.mfp-close-btn-in .mfp-close:hover {
    opacity: .7;
}

.header {
    line-height: 75px;
}
.header__logo img {
    margin-right: 30px;
}
@media (max-width: 767px) {
    .header__logo img {
        max-width: 70px;
    }
}
.header__logo span {
    font-size: 13px;
    line-height: 1.4;

    display: inline-block;

    margin-top: 20px; 

    vertical-align: top;

    opacity: .5;
    color: #202020;
}
@media (max-width: 991px) {
    .header__logo span {
        display: none;
    }
}
.header__contact {
    text-align: right;
}
.header__phone {
    line-height: normal;

    display: inline-block;

    margin-top: 13px; 
    padding-left: 25px;

    text-align: left;
    vertical-align: top;
}
.header__phone a {
    font-size: 22px;

    position: relative; 

    display: inline-block;

    vertical-align: top;

    color: #3c3b39;
}
@media (max-width: 767px) {
    .header__phone a {
        font-size: 20px;
    }
}
.header__phone a:before {
    position: absolute;
    top: 10px;
    left: -30px; 

    content: url('../img/ico-phone.png');
}
.header__phone span {
    font-size: 13px;
    font-weight: 400; 

    display: block;

    opacity: .5;
    color: #202020;
}
.header__callme {
    display: inline-block;

    margin-left: 25px; 

    vertical-align: top;
}
@media (max-width: 767px) {
    .header__callme {
        display: none;
    }
}
.header__callme a {
    font-size: 16px;
    font-weight: 400; 
    line-height: 40px;

    display: inline-block;

    height: 45px;
    padding: 0 12px;

    text-align: center;

    color: #202020;
    border: 2px solid #83c550;
    border-radius: 22px;
}
.header__callme a:hover {
    opacity: .7;
}

.main {
    min-height: 736px;
    padding-top: 121px;
}
@media (max-width: 991px) {
    .main {
        padding-bottom: 50px; 

        background-size: cover;
    }
}
@media (max-width: 767px) {
    .main {
        padding-top: 40px;
    }
}
.main--karkas {
    background: url('../img/bg/bg-karkas.jpg') no-repeat top;
}
.main--brus {
    background: url('../img/bg/bg-brus.jpg') no-repeat top;
}
.main--banya {
    background: url('../img/bg-banya.jpg') no-repeat top;
}
.main--banya .main__description {
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .main--banya .main__description {
        margin-bottom: 50px;
    }
}
.main--dom {
    background: url('../img/bg/bg-dom.jpg') no-repeat top;
}
.main--dom .main__description {
    margin-bottom: 120px;
}
@media (max-width: 767px) {
    .main--dom .main__description {
        margin-bottom: 50px;
    }
}
@media (max-width: 991px) {
    .main__text {
        margin-bottom: 50px;
    }
}
.main__text h1 {
    font-size: 70px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 25px;
    color: #222;
}
@media (max-width: 1199px) {
    .main__text h1 {
        font-size: 55px;
    }
}
.main__text h1 span {
    font-size: 49px; 

    color: #6baf31;
}
@media (max-width: 1199px) {
    .main__text h1 span {
        font-size: 45px;
    }
}
@media (max-width: 767px) {
    .main__text h1 {
        font-size: 28px !important;

        text-align: center;
    }
}
.main__text--brus h1 {
    font-size: 55px;
    font-weight: 700;

    text-transform: uppercase; 

    color: #6baf31;
}
.main__text--brus h1 span {
    font-size: 52px;

    text-transform: uppercase; 

    color: #222;
}
@media (max-width: 767px) {
    .main__text--brus h1 span {
        font-size: 26px;
    }
}
.main__text--brus h1 small {
    font-size: 33px; 

    color: #6baf31;
}
@media (max-width: 767px) {
    .main__text--brus h1 small {
        font-size: 22px;
    }
}
.main__text--brus .main__description {
    font-size: 22px;
}
@media (max-width: 767px) {
    .main__text--brus .main__description {
        font-size: 18px;
    }
}
.main__text--banya h1 {
    font-size: 49px;
}
.main__text--dom h1 {
    font-size: 49px;
}
.main__description {
    font-size: 30px;

    margin-bottom: 50px; 

    color: #232323;
}
@media (max-width: 1199px) {
    .main__description {
        font-size: 26px;
    }
}
@media (max-width: 767px) {
    .main__description {
        font-size: 18px; 

        text-align: center;
    }
}
.main .promises {
    position: relative;
    z-index: 2;
}
@media (max-width: 991px) {

}
.main .promises__item {
    width: 27%; 

    text-align: center;
}
.main .promises__item img {
    margin-bottom: 10px;
}
.main .promises__item p {
    font-size: 15px; 

    color: #222;
}
@media (max-width: 1199px) {
    .main .promises__item p {
        font-size: 16px;
    }
}
.main .promises__item p b {
    font-weight: 700;
}

.form {
    position: relative; 

    padding-bottom: 40px;

    text-align: center;

    border-radius: 4px;
    background: #fff;
}
.form:before {
    position: absolute;
    z-index: 1; 
    bottom: -130px;
    left: -520px;

    content: url('../img/form--arrow.png');
}
@media (max-width: 991px) {
    .form:before {
        display: none;
    }
}
.form__header {
    font-size: 23px;
    font-weight: 700;

    padding: 10px;

    color: #fff;
    border-radius: 4px 4px 0 0; 
    background-image: -webkit-linear-gradient(84deg, #75b842 0%, #add94d 100%);
    background-image:         linear-gradient(6deg, #75b842 0%, #add94d 100%);
}
.form__text {
    font-size: 24px;
    font-weight: 700;
    line-height: .9;

    margin: 25px 0;
    padding: 0 15px; 

    color: #6baf31;
}
.form__text span {
    font-size: 20px;
    font-weight: 400; 

    color: #3c3b39;
}
.form__text small {
    font-size: 18px;
    font-weight: 700; 

    color: #6baf31;
}
.form form {
    padding: 0 30px;
}
.form form input {
    font-size: 16px;
    font-weight: 400; 
    line-height: 55px;

    width: 100%;
    height: 55px;
    margin-bottom: 33px;
    padding: 0 15px;

    color: #202020;
    border: 1px solid #ddd;
    background-color: #fff;
}
.form form button {
    font-size: 16px;
    font-weight: 700; 

    width: 158px;
    height: 45px;

    color: #fff;
    border-radius: 22px;
    background-image: -webkit-linear-gradient(84deg, #76b742 0%, #acd94f 100%);
    background-image:         linear-gradient(6deg, #76b742 0%, #acd94f 100%);
    text-shadow: .5px .9px 1px rgba(0, 0, 1, .2);
}
.form form button:hover {
    background-image: -webkit-linear-gradient(84deg, #acd94f 0%, #76b742 100%);
    background-image:         linear-gradient(6deg, #acd94f 0%, #76b742 100%);
}
.form__footer {
    font-size: 14px;

    margin-top: 14px; 

    color: #202020;
}

.modal {
    position: relative;

    width: auto;
    max-width: 690px;
    margin: 20px auto;
    padding: 0;

    text-align: center;

    border-radius: 4px;
    background: #fff;
}
.modal__header {
    font-size: 28px;
    font-weight: 500;
    line-height: 64px;

    height: 64px;

    color: #fefefe;
    border-radius: 4px 4px 0 0;
    background-image: -webkit-linear-gradient(84deg, #75b842 0%, #add94d 100%);
    background-image:         linear-gradient(6deg, #75b842 0%, #add94d 100%);
}
@media (max-width: 767px) {
    .modal__header {
        font-size: 22px;
        line-height: 1.2;

        height: auto;
        padding: 10px 20px;
    }
}
.modal__body {
    position: relative; 

    min-height: 420px;
    padding-top: 40px;

    background: url('../img/bg/bg-modal.png') bottom no-repeat #fff;
}
.modal__body:before {
    position: absolute;
    top: 30px;
    left: -80px; 

    content: url('../img/modal--left.png');
}
@media (max-width: 991px) {
    .modal__body:before {
        display: none;
    }
}
.modal__body:after {
    position: absolute;
    top: 70px;
    right: -90px; 

    content: url('../img/modal--right.png');
}
@media (max-width: 991px) {
    .modal__body:after {
        display: none;
    }
}
.modal h2 {
    font-size: 51px;
    font-weight: 700;
    line-height: 1;

    margin-bottom: 44px; 

    color: #75b842;
}
.modal h2 span {
    color: #222;
}
@media (max-width: 991px) {
    .modal h2 {
        font-size: 26px;
    }
}
.modal__btn {
    font-size: 18px;
    font-weight: 700;
    line-height: 47px;

    display: inline-block;

    width: 160px;
    height: 47px;
    margin: 0 10px; 

    text-align: center;
    vertical-align: top;
    text-transform: uppercase;

    color: #fff;
    border-radius: 22px;
}
.modal__btn--yes {
    background-image: -webkit-linear-gradient(84deg, #76b742 0%, #cede47 100%);
    background-image:         linear-gradient(6deg, #76b742 0%, #cede47 100%);
    text-shadow: .5px .9px 1px rgba(0, 0, 1, .2);
}
.modal__btn--yes:hover {
    box-shadow: 0 0 27px rgba(206, 222, 71, .76);
}
@media (max-width: 767px) {
    .modal__btn--yes {
        margin-bottom: 15px;
    }
}
.modal__btn--no {
    background-image: -webkit-linear-gradient(84deg, #2989cc 0%, #3ad2ed 100%);
    background-image:         linear-gradient(6deg, #2989cc 0%, #3ad2ed 100%);
}
.modal__btn--no:hover {
    box-shadow: 0 0 27px rgba(112, 205, 232, .75);
}
@media (max-width: 390px) {
    #but_start:after {
        display: none;
    }
    #but_start {
        width: 78%;
        height: 78px;
        font-size: 26px;
    }
    .main__promises ul li{
        margin-bottom: 15px
    }
    .main--banya {
        background-size: cover;
    }
    .test_body {
        margin-top: 20px;
    }
    .test_body h1 {
        font-size: 36px;
    }
    .test{
        padding-bottom: 25px;
    }
    .test ul {
        font-size: 16px;
    }
    .label_it {
        line-height: 2.2;
    }
    .test_img {
        width: 100%;
        margin-bottom: 0px;
    }
    .step{
        width: 85%;
        height: 70px;
        font-size: 26px;
    }
    .lh12{
        line-height: 1.2;
    }
    .pb25{
        padding-bottom: 25px;
    }
}