@font-face {
    font-family: "Proxima Nova W01";
    src: url("../fonts/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaRegular.woff") format("woff"),
    url("../fonts/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ProximaNovaBold"; */
@font-face {
    font-family: "ProximaNovaBold";
    src: url("../fonts/ProximaNovaBold.eot");
    src: url("../fonts/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBold.woff") format("woff"),
    url("../fonts/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ProximaNovaBlack"; */
@font-face {
    font-family: "ProximaNovaBlack";
    src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
    src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"),
    url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f1ea;
}
header{
    background-color: #fff;
    font-family: 'ProximaNovaBold', sans-serif;
    text-transform: uppercase;
}
    header .logo{
        font-size: 20px;
        padding: 13px 0;
    }

    header .phone{
        font-size: 20px;
        padding: 13px 0;
        text-align: center;
    }

    header .phone span{
        background: url(../img/phone.jpg)no-repeat;
        padding: 0 0 0 25px;
    }

.main{
    background: url(../img/bg.jpg)no-repeat;
}

@media (max-width: 992px){
    header .logo{
        text-align: center;
    }
}